@font-face {
	font-family: "Jaldi";
	src: url('https://fonts.googleapis.com/css?family=Jaldi');
}

body {
	font-family: "Jaldi";
	font-size: 16px;
	color: azure;
	background-color: midnightblue;
}

.content {
    margin: auto;
    max-width: 800px;
    padding: 5vw;
}