@font-face {
	font-family: "Jaldi";
	src: url('https://fonts.googleapis.com/css?family=Jaldi');
}

:root {
    --base: #0C264D;
    --text: #DEE7F6;
    --a1: #ADC3E8;
    --a2: #5B88D2;
}

h2 {
    color: var(--a1);
}

body {
    margin: 0px;
    padding: 0px;
	font-family: "Jaldi";
	font-size: 18px;
	color: var(--text);
	background-color: var(--base);
}

a {
    color: var(--a1);
}

a:hover, a:active {
    color: var(--a2);
}

.bar {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 1vw 5vw;
    background-color: var(--a2);
    font-size: 1.2em;
}

.bar-link {
    color: var(--text);
}

.bar-link:hover, .bar-link:active {
    color: var(--base);
}

.bubble {
    flex: 0 0 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.bubble-select {
    border-radius: 50%;
    background-color: var(--a1);
    animation-name: grow;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes grow {
    from {
        flex: 0 0 0px;
        height: 0px;
    }

    to {
        flex: 0 0 100px;
        height: 100px;
    }
}

.content {
    margin: auto;
    box-sizing: border-box;
    max-width: 800px;
    padding: 2vw 5vw;
}