@font-face{
	font-family: "Philosopher";
	src: url('https://fonts.googleapis.com/css?family=Philosopher');
}

body{
	font-family: "Philosopher";
	font-size: 12pt;
	color: lightblue;
	background-color: midnightblue;
}